<h2>Welcome to Pizza Shop</h2>

<dir class="row">
	<% @products.each do |p| %>
	<div class="col-md-4">
		<div>
			<%= p.title %>
		</div>

		<div>
			<img src="<%= p.path_to_image %>">
		</div>

		<div>
			<%= p.title %>
		</div>
	</div>
	<% end %>
</dir>
<br>

<button class="btn btn-primary btn-large" onclick="something()" >Click me</button>